* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.684),
            rgba(242, 242, 242, 0.326)),
        url("https://static.vecteezy.com/system/resources/previews/001/268/938/non_2x/gray-gradient-minimal-wavy-design-vector.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container-temporizador {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-temporizador .tiempo {
    height: 130px;
    width: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    border-radius: 6px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.30);
    color: #333;
}

.tiempo span.puntos {
    width: auto;
}

.tiempo span.puntos-segundos,
.tiempo span.segundos {
    width: auto;
    color: #7d2ae8;
}

.mensaje {
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
    color: #7d2ae8;
}

.container-temporizador .botones {
    text-align: center;
    margin-top: 20px;
}

.botones button {
    margin-right: 5px;
    padding: 6px 16px;
    outline: none;
    border: none;
    color: #7d2ae8;
    background-color: #fff;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
}

button:hover {
    color: #fff;
    background-color: #8b41ec;
}

.botones button.active,
.botones button.stopActive {
    pointer-events: none;
    opacity: .7;
}

