body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }

  .colorFooter {
    background-color:rgba(234, 231, 231, 0.992);
  }
  
  
  a {
    text-decoration: none;

    color: black;


  }
  
  .jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
  }

